@font-face {
  font-family: "Libre Bodoni";
  src: url("./LibreBodoni-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: #303846;
  font: 18px/1.5 "Libre Bodoni", serif;

  background: #f0f3f4;
}
a {
  color:#303846;
  text-decoration: none;
}
.container, .description {
  width: 1230px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

h2 {
  padding-right: 15px;
  padding-left: 15px;

  font-weight: bold;
  font-size: 2em;
}

.justify-content-between {
  justify-content: space-between;
}



.description h3 {
  font-size: 1.5em;
}

.column-container {
  display: flex;
  flex-wrap: wrap;
}

.column-4 {
  width: 23%;
  margin-bottom: 2%;
}

.card {
  /* BEGIN (write your solution here) */
  position: relative;

  top: 0px;
  left: 0px;
  /* END */

  padding: 20px;

  border: 1px solid #ccc;
  border-radius: 10px;
  transition: 0.7s;
}

.card h3 {
  margin-top: 0;

  font-size: 1.5em;
}

.card:hover {
  position: relative;
  top: -15px;
  left: -10px;

  color: white;
  background: linear-gradient(45deg, #4158d0, #c850c0 40%, #ffcc70 90%);
  cursor: pointer;

  transition: 0.7s;  
}